body {
    background-color: #38A3A5;
    font-family: 'Arial', sans-serif;
    font-size: 24px;
    line-height: 1.5;
    margin: 0;
}

.page-header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
  background-color: #22577A;
  padding: 20px;
  color: #C7F9CC;
  margin-bottom: 2%;
}

h4 {
  font-size: 2em;
  font-weight: bold;;
}

.page-header ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
  }

  .page-header a {
    display: block;
    padding:0.5em;
    text-decoration:none;
    color: #C7F9CC;
  }

  .page-header a:hover, .page-header a:focus {
    text-decoration: underline;
    text-underline-offset: 10px;
    
  }

  .items {
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1em;
  }

  .items img {
    width: 100%;
    height: auto;
  }

 .item {
  border: solid 2px #22577A;
  border-radius: 4px;
  background-color: #C7F9CC;
  color: #222;
  margin: 2%;
  display: flex;
  flex-direction: column;
 }

 .item h2 {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 0;
  font-size: 1em;
 }

 .item p {
  align-self: baseline;
  margin-top:auto;
  font-size: 0.75em;
  padding: 20px;
 }

 .item p:nth-child(4){
  font-weight: bold;
  text-align: right;
 }

 .item p:nth-child(4):before{
  content: 'Price: $ ';
  margin-top: auto;
 }

 .item button {
  background-color: #57CC99;
  color: #222;
  font-size: 0.9em;
  border: none;
  padding: 15px;
  width: 100%;
  margin-top:auto;
 }

 .item button:hover, .item button:focus {
  background-color: #22577A;
  color: #57CC99;
  border-top: 1px solid #22577A;
 }

 #item-list {
  list-style: none;
  padding-left: 0;
 }

 #item-list li {
  padding: 1em;
  text-align: right;
 }

 #item-list button, #item-list input {
  background-color: transparent;
  border: 1px solid #22577A;
  border-radius: 5px;
  padding: 10px;
  font-size: 0.75em;
  color: #22577A;
 }

 #cart-total {
  text-underline-offset: 10px;;
 }

 footer {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: flex-end;
  align-items: flex-end;
  margin-top: 30px;
  padding: 50px;
  background-color: #C7F9CC;
  color: #222;
 }



 